name: Construire et déployer le site Cecil

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le dépôt
        uses: actions/checkout@v3

      - name: Configurer PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Installer les dépendances
        run: composer install --no-dev --prefer-dist --no-progress --no-suggest

      - name: Générer le site avec Cecil
        run: php vendor/bin/cecil build --baseurl=https://gracevayisiriria.github.io/ProjetCecile/

      - name: Déployer sur GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
